@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "League Spartan", sans-serif;
}

$main-bg: #3b4664;
$keypad-bg: #252d44;
$screen-bg: hsl(224, 36%, 15%);

$key-bg: hsl(225, 21%, 49%);
$key-shadow: hsl(224, 28%, 35%);
$red: hsl(6, 63%, 50%);
$dark-red: hsl(6, 70%, 34%);
$orange: hsl(30, 25%, 89%);
$orange-shadow: hsl(28, 16%, 65%);

$blue-text: hsl(221, 14%, 31%);
$white: hsl(0, 0, 100%);

///mixin for themes
@mixin update(
  $main_bg,
  $screen_bg,
  $keypad_bg,
  $key_clr,
  $key_bg,
  $shadow,
  $del_btn,
  $del_btn_clr,
  $del_btn_shadow,
  $equal,
  $equal_shadow,
  $title-text
) {
  .main-area {
    background-color: $main_bg;
    .main {
      &__screen {
        background-color: $screen-bg;
      }
      &__numpad {
        background-color: $keypad_bg;

        .keypads {
          color: $key_clr;
          background-color: $key_bg;
          box-shadow: 0px 3px 0px 0px $shadow;
          &:hover {
            background-color: rgba($color: $key_bg, $alpha: 0.5);
          }
        }
        .keypads:nth-child(4),
        .keypads:nth-child(17) {
          background-color: $del_btn;
          color: $del_btn_clr;
          box-shadow: 0px 3px 0px 0px $del_btn_shadow;
          &:hover {
            background-color: rgba($color: $del_btn, $alpha: 0.5);
          }
        }

        .keypads:nth-child(18) {
          background-color: $equal;
          color: $del_btn_clr;
          box-shadow: 0px 3px 0px 0px $equal-shadow;
          &:hover {
            background-color: rgba($color: $equal, $alpha: 0.5);
          }
        }
      }
      .title,
      .theme-text,
      .modes-text,
      .digit {
        color: $title-text;
      }
    }
  }
}

.main-area {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $main-bg;

  .main {
    width: min(28em, 96%);
    height: min(36em, 100%);
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3%;
    &__header {
      width: 90%;
      height: 10%;
      //   background-color: aliceblue;
      display: flex;
      align-items: center;
      justify-content: space-between;

      h2 {
        font-size: 3em;
        color: $white;
      }

      .themes {
        display: flex;
        align-items: center;
        justify-content: center;

        p {
          text-transform: uppercase;
          color: white;
          font-size: 1em;
          height: 1.4em;
          line-height: 1.4em;
          padding-top: 0.15em;
          margin-right: 1em;
          letter-spacing: 0.1em;
        }

        div {
          width: 4em;
          height: 1.4em;
          background-color: #252d44;
          border-radius: 1em;
          position: relative;

          .modes {
            font-weight: 500;
            display: flex;
            position: absolute;
            background-color: transparent;
            color: $white;
            align-items: center;
            justify-content: center;
            width: 4em;
            height: 3em;
            border-radius: 0%;
            top: calc(0% - 2.2em);
            left: calc(0% + 0.4em);
            p {
              font-size: 0.8em;
            }
          }
          button {
            position: absolute;
            bottom: 0;
            width: 1.2em;
            height: 1.2em;
            border-radius: 50%;
            border: none;
            margin: 0.2em;
            cursor: pointer;
            &:hover {
              opacity: 1;
            }
          }

          .red {
            opacity: 0;
            background-color: $red;
            left: calc(0% + 0.1em);
          }
          .orange {
            opacity: 0;
            background-color: #ff8b38;
            left: calc(0% + 1.7em);
          }
          .blue {
            opacity: 0;
            background-color: #94fff9;
            left: calc(0% + 3.2em);
          }

          .active {
            opacity: 1;
          }
        }
      }
    }
    &__screen {
      width: 90%;
      height: 20%;
      background-color: $screen-bg;
      border-radius: 0.5em;
      display: flex;
      align-items: center;
      justify-content: center;

      p {
        width: 96%;
        overflow: hidden;
        // border: 1px solid red;
        font-size: 3em;
        color: $white;
        font-weight: 700;
        text-align: right;
      }
    }
    &__numpad {
      width: 90%;
      height: 60%;
      background-color: $keypad-bg;
      border-radius: 0.5em;
      display: grid;
      grid-template-columns: auto;
      grid-template-rows: auto;
      grid-template-areas:
        "a b c d"
        "e f g h"
        "i j k l"
        "m n o p"
        "q q r r";
      justify-items: center;
      align-items: center;
      //   row-gap: 1em;
      .keypads {
        font-size: 1.5em;
        font-weight: 700;
        height: 2em;
        width: 3.4em;
        color: $blue-text;
        border-radius: 0.3em;
        border: none;
        background-color: $orange;
        box-shadow: 0px 3px 0px 0px $orange-shadow;
        &:hover {
          cursor: pointer;
        }
      }
      .keypads:nth-child(4),
      .keypads:nth-child(17) {
        background-color: $key-bg;
        box-shadow: 0px 3px 0px 0px $key-shadow;
        color: white;
        text-transform: uppercase;

        &:hover {
          cursor: pointer;
        }
      }

      .keypads:nth-child(17),
      .keypads:nth-child(18) {
        width: 7.7em;
      }

      .keypads:nth-child(18) {
        background-color: $red;
        box-shadow: 0px 3px 0px 0px $dark-red;
        color: white;

        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}

.red_theme {
  @include update(
    $main-bg,
    $screen-bg,
    $keypad-bg,
    $blue-text,
    $orange,
    $orange-shadow,
    $key-bg,
    $white,
    $key-shadow,
    $red,
    $dark-red,
    $white
  );
}

.orange_theme {
  @include update(
    #e6e6e6,
    #eeeeee,
    #d3cdcd,
    #38382e,
    $orange,
    $orange-shadow,
    #62b5bd,
    $white,
    #1e6169,
    #ff8b38,
    #843800,
    #38382e
  );
}

.blue_theme {
  @include update(
    #17062a,
    #1e0836,
    #1e0836,
    #ffe53d,
    #331b4d,
    #861d9d,
    #56077c,
    $white,
    #bf16f5,
    #00decf,
    #6ef7ef,
    #ffe53d
  );
}

// @include update(
//   $main-bg,
//   $screen-bg,
//   $keypad-bg,
//   $blue-text,
//   $orange,
//   $orange-shadow,
//   $key-bg,
//   $key-shadow,
//   $red,
//   $dark-red
// );

// @include update(
//   #e6e6e6,
//   #eeeeee,
//   #d3cdcd,
//   #38382e,
//   $orange,
//   $orange-shadow,
//   #62b5bd,
//   #1e6169,
//   #ff8b38,
//   #843800
// );
